
{% extends "myapp/header.html" %}


{% block content %}

 <nav id="nav" class="navbar navbar-expand-lg sticky-top  navbar-dark " style="z-index: 1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); background-color: #333!important">            <div class="container">
              <a class="navbar-brand" href="#">
                    {% load staticfiles %}
          <img id="logo" src="{% static 'image/Welcome to Vectr.svg' %}" style="height:10vh !important" alt="...">
                  </a>
                  <h2><a class="navbar-brand" style="color: white !important" href="#">PROJECT CELL</a></h2>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ">
                    <a class="nav-link active" href="/">Home
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="/about/">About
                    <span class="sr-only">(current)</span></a>
                  </li>
                  
   <li>               <!-- Button trigger modal -->
<a type="button" class="nav-link" data-toggle="modal" data-target="#exampleModalCenter">
  Contact
</a>
</li>
<li class="nav-item dropdown">
          <button class="nav-link dropbtn">Links</button>
          <div class="dropdown-content" style="justify-items: space-around">
           <a href="/event/" style="text-align:center; width:200px"><img src="./facebook white.svg" alt="" style="height: 20px;right:0;"> Events</a>
                      <a href="/data/" style="text-align:center; width:200px"><img src="" alt="" style="height: 20px;"> Gallery</a>
                      
          </div>
        </li>
<!-- Modal -->
                  
                  
              </ul>
          </div>
      </div>
  </nav>


<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'image/carousel3.jpg' %}"
        alt="First slide" style="opacity: 0.5;">
        <div class="carousel-caption" >
        	<h1 class="display-4" style="align-items: center; top: 10px; left: 50%;"><strong><strong>Young Mind Amidst Thinking</strong></strong></h1>
        	
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'image/carousel1.jpg' %}"
        alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'image/carousel2.jpg' %}"
        alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'image/carousel4.jpg' %}"
        alt="Fourth slide">
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev" style="color: black">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container" style="padding-top: 60px; padding-bottom: 60px">
 <h1>Our Journey</h1> 
 <p>Established in 2014, PROJECT CELL is an endeavour to promote innovative thinking amidst
young minds. We work towards accomplishing tasks that could be gradually developed on a
large scale and solve many social problems that exist today. At Project Cell, we tread towards
learning new concepts, techniques and gaining practical experiences on implementation of
creative ideas out. The main goal of the Cell is to learn new technologies while developing new
projects. </p>

</div>


<div id="carouselExampleInterval" class="carousel slide carousel-fade"  data-ride="carousel" style="background-color:#626262">
  <!-- Indicators -->
  
  <div class="container" >  <!-- The slideshow -->
  				<h1 style="font-size: 300%; padding-top: 20px; padding-right: 30px; color: white">Achievements</h1>
  				<p style="color: white">Team Project has performed in various national level competations such as E-Yantra (EYIC as well as EYRC), KPIT sparkle and various hackathons held at college level. many projects like Pani Puri Vending Machine, Automatic shopping Robot and Robotic Assistance for TB patient have won an award in E-Yantra Inovation Competation (E-YIC).</p>
  <div class="container" style="padding-top: 40px">
  <div class="carousel-inner">

  							<div class="carousel-item" style="cursor: pointer !important" >
                              <object width="1100" height="515" style="padding-top: 50px;"
                              data="https://youtube.com/embed/Nlo9U21-joo">
                              </object>
                            </div>
                            <div class="carousel-item active" style="cursor: pointer !important"  >
                              <object width="1100" height="515" style="padding-top: 50px; "
                              data="https://youtube.com/embed/qIwG34iqrz0">
                              </object>
                            </div>
                            
                            <div class="carousel-item" style="cursor: pointer !important" >
                              <object width="1100" height="515" style="padding-top: 50px;"
                              data="https://youtube.com/embed/47TJFqiCook">
                              </object>
                            </div>
                            <div class="carousel-item" style="cursor: pointer !important" >
                              <object width="1100" height="515" style="padding-top: 50px;"
                              data="https://youtube.com/embed/a89ChVDv6zo">
                              </object>
                            </div>
                            <div class="carousel-item" style="cursor: pointer !important" >
                              <object width="1100" height="515" style="padding-top: 50px;"
                              data="https://youtube.com/embed/cPqHsR1eV5I">
                              </object>
                            </div>
                            
                          </div>
                          
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev" style="padding-top: 150px; padding-left: 30px">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next" style="padding-top: 150px; padding-right: 30px">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
 </div>                         
</div>
</div>



<style type="text/css">
    

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {


    background-image: url("");
    background-color: #ffffff;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 200px;
    position: relative;
    background-attachment: fixed;
    height: 1000px
    
}
 


  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.container
{
    padding: 0px 16px;
}

.parallax{

  background: url("{% static "image/work.jpg" %}");
  background-size: cover;
  background-attachment: fixed; 
  height: 500px; 
  filter: blur(5px);
  -webkit-filter: blur(0px);
  
  /* Full height */
  height:90%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  body {
    font-family: sans-serif;
  }
  
.carousel-inner object {
      width: 100%;
      height: 500px;
      padding-bottom: 40px;
  }
  .logo {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items:right ;
    margin-right: auto;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #content {
    padding: 16px;
  }
  .sticky + #content {
    padding-top: 60px;
  }
  #nav
  {
    background: #cccccc;
  }

  body, html {
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("{% static "image/photographer.jpg" %}");
  
  /* Add the blur effect */
  filter: blur(0px);
  -webkit-filter: blur(0px);
  
  /* Full height */
  height:90%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
 
}

</style>
  
  <!--
  <form method="POST" id="createForm">
  <input type="file" class="upload-group" id="cover"> 
 
  <input type="submit" id="postSubmit" value="Submit">
  </form>

</div>



<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

   If you enabled Analytics in your project, add the Firebase SDK for Analytics 
  <script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

  Add Firebase products that you want to use -->
  <script type="text/javascript">
	$(window).on("load",function(){
     $(".loader-wrapper").fadeOut("slow");
});
</script>

  




      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
              

              
{% endblock %}
